{% extends 'auth.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-12">
    <center>
      <div style="margin-top: 15%;width: 100%;color: white;">
        <div id="logo">
          <img src="../static/images/logo.png" style="width: 120px;margin-top: 1px;border-radius: 8px 25px;"/>
        </div>
        <br>
        <h1>About Us</h1>
        <div>
          <h4 style="color: black">
            Private Website for School Kids
          </h4>
        </div>
      </div>
    </center>
  </div>
</div>
  
{% endblock content %}
