{% extends 'base.html' %}
{% block title %}
Student Details
{% endblock title %}
{% block body %}
 <h3 class="text-center" style="margin-top:115px;"><span>Student Details</span> </h3>
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}
</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
<br>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Admin/Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <center>
        <div class="container">

          <div class="row">
          
          <div class="col-md-12">
          
          <form action="/addstudent" method="post">
            <div class="form-group">
              <div style="width: 50%;float: left;padding: 5px;text-align: left;">
                <label for="rollno">rollno</label>
                <input type="text" class="form-control" name="rollno" id="rollno">  
              </div>
              <div style="width: 50%;float: right;padding: 5px;text-align: left;">
                <label for="sname">username</label>
                <input type="text" class="form-control" name="sname" id="user">  
              </div>
            </div>
            <br>
            <div class="form-group">
              <div style="width: 50%;float: left;padding: 5px;text-align: left;">
                <label for="standard">standard</label>
                <input type="number" class="form-control" name="standard" id="standard">
              </div>
              <div style="width: 50%;float: right;padding: 5px;text-align: left;">
                <label for="gender">gender</label>
                <select  class="form-control" id="gender" name="gender" required>
                  <option selected>Select Gender</option>  
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>
            <br>
            <div class="form-group">
              <div style="width: 50%;float: left;padding: 5px;text-align: left;">
                <label for="isadmin">Is Admin?</label>
                <select class="form-control" id="isadmin" name="isadmin"  required>
                  <option value="1">Yes</option>
                  <option value="0" selected>No</option>
                </select>
              </div>
          
              <div style="width: 50%;float: right;padding: 5px;text-align: left;">
                <label for="email">email</label>
                <input type="email" class="form-control" name="email" id="email">
              </div>
            </div>
            <br>
            <div class="form-group">  
              <div style="width: 50%;float: left;padding: 5px;text-align: left;">
                <label for="mobile">mobile</label>
                <input type="number" class="form-control" name="mobile" id="mobile">
              </div>
              <div style="width: 50%;float: right;padding: 5px;text-align: left;">
                <label for="exampleInputPassword1">password</label>
                <input type="password" class="form-control mb-2" name="password" id="exampleInputPassword1" required>
              </div>
            </div>
            <br>
            <div class="form-group">
              <div style="width: 100%;float: left;padding: 4px;">
                <button type="submit" class="btn btn-danger btn-sm">Add Record</button>
              </div>
            </div>
          </form>
          <br>
          <br>
          </div>
          
          </div></div>
        </center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <button type="button" class="m-2 btn btn-sm btn-outline-primary" style="float: right"  data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Student
  </button>
  <table class="table table-dark">
    <thead class="thead-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">rollno</th>
        <th scope="col">username</th>
        <th scope="col">standard</th>
        <th scope="col">gender</th>
        <th scope="col">email</th>
        <th scope="col">Admin</th>
        <th scope="col">mobile</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for post in query %}
      <tr>
        <th scope="row" >{{post.id}}</th>
        <td>{{post.rollno}}</td>
        <td style="text-transform: capitalize;">{{post.username}}</td>
        <td>{{post.standard}}</td>
        <td>{{post.gender}}</td>
        <td>{{post.email}}</td>
        <td>{{'Yes' if post.admin else 'No'}}</td>
        <td>{{post.mobile}}</td>
        <td>
          <a href="/edit/{{post.id}}" class="btn btn-sm btn-primary">Edit</a>
          <a href="/delete/{{post.id}}" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}